$blue: #0a466e;
$orange: #ff6340;
$yellow: #ffde66;
$green: #73ffd7;
$beige: #f5f3ee;
$white: #ffffff;

.banner {
  width: 100%;
  padding: 20px;
  border: 8px solid $blue;

  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

.column {
  width: 50%;
  display: inline-block;
}

.infoDiv {
  border: 3px solid $blue;
  padding: 10px;
  margin: 15px 0px;

  p,
  h2 {
    margin: 0;
  }
}

.loggMessage {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 0px;

  span {
    color: #85a2b7;
    font-size: 15px;
  }

  p {
    color: #0a466e;
  }
}

.loggAddMessage {
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 25px 0px 0px 0px;
  outline: none;
  width: 91.5%;
  height: 75px;
}

.loggAddButton {
  padding: 10px 20px;
  margin: 5px 0px;

  background-color: $green;
  border: 2px solid $blue;
  border-radius: 20px;

  font-size: 16px;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.loggDiv {
  max-height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: lightgrey;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}
